{% set page = {
  title: 'Choose a pharmacy',
  layout: {
    back: true,
    content_secondary: {
      show: true
    }
  },
  redirectTo: 'referral-details-notice'
} %}

{% extends page.layout.file | d(layouts.base) %}

{% block content_header %}
  <h1><span>Choose a pharmacy</span></h1>
{% endblock content_header %}

{% block content_primary %}

  <p>A pharmacist can provide an emergency supply of some medicines that {{'you' | togglePOV({ pov: isFirstPerson }) }} are prescribed regularly.</p>

  <form method="post" action="#">

    <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-4">

      <p>We found 2 pharmacies available near {{ data.answers.location.current.postcode | default('M1 1EA') }}</p>

      {% call pharmacyCard({
        name: "answers[pharmacy]",
        value: "highstreet",
        heading: "Heywood Pharmacy - Manchester Road, Heywood"
      }) %}
        <p>
          50 Manchester Rd<br>
          Heywood<br>
          OL10 2AH
        </p>
        <p>2.4 miles away</p>
        <p style="margin-bottom:0px;">Open today: 9:00am to 6:30pm</p>
      {% endcall %}

      {% call pharmacyCard({
        name: "answers[pharmacy]",
        value: "dsp",
        heading: "Drugs4Delivery"
      }) %}
        <p class="nhsuk-u-margin-bottom-4">
          <strong class="nhsuk-tag nhsuk-tag--blue">
            Online pharmacy
          </strong>
        </p>
        <p>Open today: 8:30am to 6:00pm</p>
        <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-u-margin-bottom-4">
        <p class="nhsuk-body-s">Online pharmacies mostly offer consultations over video or the phone.</p>
        <p class="nhsuk-body-s" style="margin-bottom:10px;">Rarely, you might be asked to visit their local premises.</p>
      {% endcall %}

    </fieldset>

    {% call details({
      summaryText: 'I cannot use these pharmacies to get an emergency supply of ' + ('my' | togglePOV({ pov: isFirstPerson }))  + ' medicine'
    }) %}
          <p>If these pharmacies cannot help you get {{ ('your' | togglePOV({ pov: isFirstPerson })) }} emergency supply call 111 instead.</p>
    {% endcall %}

    {% call details({
      summaryText: 'Can I use my local pharmacy?' | togglePOV({ pov: isFirstPerson, caseMode: 'lower' })
    }) %}
        <p>{{ "The recommended services offer an NHS referral." | togglePOV({ pov: isFirstPerson }) }}</p>
        <p>{{ "You can ask your usual pharmacy to help, but they might charge for a private prescription and cost of the medicine." | togglePOV({ pov: isFirstPerson }) }}</p>
        <p>{{ "This is more expensive than paying the NHS prescription charge. Everyone has to pay this, even if you usually get free NHS prescriptions." | togglePOV({ pov: isFirstPerson }) }}</p>
    {% endcall %}

    <input type="hidden" name="redirectTo" value="{{ page.redirectTo }}">

  </form>

{% endblock %}
