{% set page = {
  title: 'Get help for your symptoms'
}
%}

{% extends page.layout.file | d(layouts.base) %}

{% block content %}

  <div class="app-u-reading-width">

    <style>
      .app-ai-inset {
        border-left: 0;
        padding-left: 0;
      }

      .app-ai-separator {
        width: 100%;
        margin: 28px 0 0;
        border-bottom: 1px solid #d8dde0;
      }
    </style>

    <a class="nhsuk-back-link nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4" href="./index">Back</a>

    <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-6">
      <span data-test-id="heading-text">Tell us how we can help</span>
    </h1>

    {{ textarea({
      name: "exampleRightSize",
      id: "example-right-size",
      rows: "3",
      label: {
        text: "Briefly describe your main symptom or problem",
        classes: 'nhsuk-label--m nhsuk-u-margin-bottom-3'
      },
      hint: {
        html: "For example: “I have a cough and high temperature” or “I need an ankle x-ray”"
      }
    }) }}

    <a role="button" href="#" class="nhsuk-button nhsuk-u-margin-top-1" data-module="nhsuk-button">Continue</a>

    {% call insetText({
      classes: 'nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 app-ai-inset'
    }) %}
      <div>
        <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">How this AI tool works</h3>
        <p class="nhsuk-u-margin-bottom-2">It makes suggestions based on what you tell it. It can sometimes get things wrong. You can give us feedback if it does so we can improve it.</p>
        <p class="nhsuk-u-margin-bottom-0"><a href="./index">I do not want to use the AI tool</a></p>
        <div class="app-ai-separator" aria-hidden="true"></div>
      </div>
    {% endcall %}

    <div class="nhsuk-u-margin-top-4">
      {% call details({
        summaryText: "More on how the AI tool works"
      }) %}
        <p>The AI will:</p>
        <ul>
          <li>direct you to relevant NHS services</li>
          <li>help you pick the right topic for your symptoms</li>
          <li>tell you if 111 online is not the right service for your needs</li>
        </ul>

        <p>The AI will not:</p>
        <ul>
          <li>be used to ask you questions about your symptoms (triage)</li>
          <li>give you advice about conditions you already know you have</li>
          <li>contact other parts of the NHS, for example hospitals or GP surgeries, regarding your appointments</li>
        </ul>
      {% endcall %}
    </div>

    {% call details({
      summaryText: "How will AI use my data?"
    }) %}
        <p>Placeholder</p>
    {% endcall %}

  </div>
  <!-- /.app-u-reading-width -->



{% endblock %}
